#calc44fz_root input[type="number"]::-webkit-outer-spin-button,
#calc44fz_root input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#calc44fz_root input[type="number"],
#calc44fz_root input[type="number"]:hover,
#calc44fz_root input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

#calc44fz_root .hidden {
    display: none;
}

#calc44fz_root .navbar {
    padding: 0 !important;
    margin-bottom: 15px;
}

#calc44fz_root .navbar-text {
    padding: 0 !important;
    color: #7e7e7e !important;
    font-size: 14px;
    font-weight: 400;
}

#calc44fz_root .penny-button {
    padding: 0 10px !important;
    text-transform: uppercase !important;
    border-radius: 0px !important;
    background: #2c3e50 !important;
    border-color: #2c3e50 !important;
    font-size: 10px !important;
    font-weight: 700 !important;
    height: 30px;
}

#calc44fz_root .penny-button:hover {
    background: #33cccc !important;
    border-color: #33cccc !important;
}

#calc44fz_root .form-label {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

#calc44fz_root .calc-penny {
    margin-top: 20px;
}

#calc44fz_root .result-wrap {
    padding: 0 !important;
}

#calc44fz_root .result-header {
    margin-top: 40px;
}

#calc44fz_root .result-formule {
    border-radius: 0 !important;
    background: #2c3e50 !important;
    border-color: #2c3e50 !important;
    color: aliceblue !important;
    text-align: center;
}

#calc44fz_root .formule-text {
    font-family: "Open Sans", sans-serif !important;
    color: aliceblue !important;
    font-size: 1rem !important;
}

#calc44fz_root .copy-button {
    border: 1px solid #33cccc !important;
}

#calc44fz_root .calc-row {
    text-align: center;
}

#calc44fz_root .error {
    color: red;
    margin-bottom: 5px;
}
